/* Styles for the custom alert box */

/* transparent blurry bg containing ths custom alert */
.custom-alert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  z-index: 999;
}
#myAlertTitle {
  font-size: 20px;
}

/* custom alert itself */
.custom-alert-content {
  background-color: #fff;
  border-radius: 15px;
  color: #332941;
  text-align: center;
  padding: 25px;
  position: relative;
  width: 65%;
  max-width: 270px;
  margin-top: -100px;
  margin: 0 20px;
}

.custom-alert h2 {
  font-weight: 500;
  margin: 0;
}
.custom-alert p {
  font-size: 16px;
}
.custom-alert-button {
  padding: 10px 20px;
  width: 90%;
  background: black;
  color: #fff;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: bold;
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
