/* General styling */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(30 58 138);

  padding: 20px;
}

.div-body {
  color: white;
  padding: 10px;
  text-align: center;
}

.card-body h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

.card-body p {
  font-weight: 400;
  margin-bottom: 30px;
}

/* Borders for the circular map */
.borders {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: relative;
  margin: auto;
  border: 1px solid wheat;
}

.image-container img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.image-container {
  width: 100%;
  border-radius: 50%;
}

.center-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

/* Floating circles */
.small-circle,
.small-circle-2,
.small-circle-3,
.small-circle-4 {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  color: #000;
}

.small-circle,
.small-circle-2,
.small-circle-3,
.small-circle-4,
i {
  font-size: 30px;
  color: #118d5a;
  cursor: pointer;
}

.small-circle {
  width: 40px;
  height: 40px;
  top: 25%;
  left: 10%;
}

.small-circle-2 {
  width: 40px;
  height: 40px;
  top: 60%;
  right: 15%;
}

.small-circle-3 {
  width: 40px;
  height: 40px;
  top: 15%;
  right: 30%;
}

.small-circle-4 {
  width: 40px;
  height: 40px;
  bottom: 15%;
  left: 30%;
}

/* Button styling */
.button-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

.btn-get-started {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6ef7be;
  color: #000;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  position: relative;
  width: 250px;
  height: 50px;
}

.btn-get-started:hover {
  background-color: #57db9f;
  color: white;
}

/* Blue Circle Inside Button */
.blue-circle {
  background-color: #4f3cc9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Search Icon Inside Blue Circle */
.blue-circle::before {
  content: "\1F4CD";
  /* Unicode for magnifying glass icon */
  color: white;
  font-size: 16px;
}

.link:hover {
  background-color: #57db9f;
  color: white;
}

.link {
  text-decoration: none;
  outline: none;
}

svg {
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
  color: rgba(80, 66, 139, 0.315);
}

/* Add animation for the search icon */
@keyframes moveAround {
  0% {
    transform: translate(-50%, -50%) translateX(0) translateY(0);
  }

  25% {
    transform: translate(-50%, -50%) translateX(100px) translateY(-50px);
  }

  50% {
    transform: translate(-50%, -50%) translateX(0) translateY(-100px);
  }

  75% {
    transform: translate(-50%, -50%) translateX(-100px) translateY(-50px);
  }

  100% {
    transform: translate(-50%, -50%) translateX(0) translateY(0);
  }
}

.center-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6ef7be;
  font-size: 3rem;
  animation: moveAround 5s infinite ease-in-out;
}

/* Responsive styling*/
@media only screen and (max-width: 768px) {
  .div-body {
    /* max-width: 100%; */
    /* padding: 20px; */
  }

  .borders {
    height: 250px;
    width: 250px;
  }

  .center-icon {
    font-size: 2.5rem;
  }

  .btn-get-started {
    width: 200px;
    height: 45px;
  }

  .blue-circle {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (max-width: 440px) {
  .div-body {
    /* max-width: 100%; */
    padding: 20px;
  }

  .borders {
    height: 200px;
    width: 200px;
  }

  .center-icon {
    font-size: 2rem;
  }

  .btn-get-started {
    width: 180px;
    height: 40px;
  }

  .blue-circle {
    width: 20px;
    height: 20px;
  }
}
